body,html {
	height:100%;
	width:100%;
	margin:0 auto !important;
	left:0;right:0;top:0;bottom:0;
	text-align: center;
	background:#f1f1f1;
	-moz-user-select: none;
}
#load {
	background:#1a1c34;
	height:100%;
	width:100%;
	margin:0 auto !important;
	left:0;right:0;top:0;bottom:0;
	position: absolute;
	z-index: 1111;
}
* {
	font-family:'Product Sans';
}
#container * {
	transition:300ms;
}
#container {
	text-align: center;
	margin:0 auto;
	left:0; right:0;
	height:100%;
	width:100%;
}
#headercontain {
	box-shadow:0px 0px 5px #5b5b5b;
	background:#f1f1f1;
	z-index: 232;
	background-size:cover;
	background-position:0% 30%;
	position: relative;
	width:100%;
}
#header {
	height:75px;
	width:90%;
	margin:auto;
	position: relative;
}
#header > * {
	position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
ul, li {
	margin:0;
	padding:0;
}
li {
	display:inline;
	padding:0px 5px;
}
a, a:visited, a:active, a:focus {
	outline:none;
	text-decoration: none;
}
#linkscarousel a:hover {
	color:#80A4BE;
}
#linkscarousel a {
	color:#4f6371;
}
#linkscarousel {
	right:25px;
	font-size:15px;
}
#search {
	left:25px;
}
#search input {
	width:200px;
	height:25px;
	font-size:15px;
	border:1px solid #f1f1f1;
	color:#385e7a !important;
}
#search input:focus {
	border:1px solid #d8d8d8;
}
#search input:focus::-moz-placeholder {
	color:#1d4059;
}
#search input::-moz-placeholder {
	color:#4b4949;
}
#midtext, .linkbox {
	cursor:default;
}
.linkbox {
	width:100%;
	background-size:cover !important;
	background-repeat: no-repeat !important;
	text-align: center;
	position: relative;
	overflow:hidden;
}
.contentcontain {
	position: absolute;
  top: 50%;
	text-align: center;
  transform: translateY(-50%);
	margin: auto;
	left: 0;
	right: 0;
	color:#bfbfbf;
}
.content {
	font-size:50px;
}
.links {
	font-size:25px;
}
.links a {
	color:#bfbfbf;
}
#acnh .links a:hover {
	color:#5f3237;
}
#keeb .links a:hover {
	color:#a37e6e;
}
#cat .links a:hover {
	color:#434254;
}
.linkbox:hover .bg {
	filter:none;
}
.linkbox:hover .links a {
	color:#f4f4f4;
}
.linkbox:hover .contentcontain {
	color:#fff;
}
.bg {
	filter:blur(1px) brightness(60%);
	transform:scale(1.1);
	background-size:cover !important;
	background-repeat: no-repeat !important;
}
#acnh .bg {
	background-image:url(./img/acnh.jpg);
	background-position: 0% 35%;
}
#keeb .bg {
	background-image:url(w.jpg);
	background-position: 0% 40%;
}
#cat .bg {
	background-image:url(cat.jpg);
	background-position:0% 25%;
}
